/* .Income {
  text-align: center;
}

.formControl {
  width: 500px;
}

.formControl:not(:last-child) {
  margin-bottom: 20px;
}

.submitButton {
  display: block;
  margin: 20px auto 0;
}

.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 500px;
} */
