.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
  width: 100vw; 
  
}
.paper {

  padding: 20px 30px;
max-width: 600px;
  
}
.textfield {
  width: 100% !important;
}
.heading-text {
  margin-bottom: 10px !important;
}
.forget-text{
  text-align: center !important;
}
.login-btn{
  background-color: rgb(28,194,159) !important;
  padding: 10px 30px !important;
  color: white !important;
}
