.section {
  width: 100vw;
 height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  
}
.form-data{
  max-height: 500px !important;
}
.starting-text {
  color: #999ea9;
  font-weight: bold !important;
 
}

.starting-texts{
margin-bottom: 15px !important;

}
.input-fields{
max-width: 280px !important;
}
/* .sign-up-link{
  text-align: center;
} */
.signup-btn{
  margin: 10px 0px !important;
  background-color: rgb(28,194,159) !important;
  color: white !important;
}
@media  screen and (max-width : 720px) {
  .logo{
    display: none;
  }
  .section{
    padding-right: 10px;
  }
}
